<main class="mt-5">
  <div class="starter-template text-center">
    <h1>Welcome to my template.</h1>
    <p class="lead">Use this template as a way to quickly start any new project.</p>
  </div>
</main>
